<div class="page">
  <h1>Register</h1>
  <form class="register-form" [formGroup]="registerForm" (ngSubmit)="register($event)">
    <fieldset>
      <input type="text" placeholder="Enter Your Name" required formControlName="name"/>
      <input type="number" placeholder="Enter Your Age" required formControlName="age"/>
      <select required formControlName="job_id" style="margin: 1rem;">
        <option [value]="NO_JOB_SELECTED">Select an occupation</option>
        <option *ngFor="let job of listJobs" [value]="job.id">{{ job.name }}</option>
      </select>
  </fieldset>
  <button class="button" type="submit" [disabled]="registerForm.invalid">Check in</button>
</form>
</div>

