.page {
  background: black;
  height: 100vh;
}
h1 {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  text-align: center;
  font-weight: 100;
  padding: 2rem 1rem;
}

.button {
  border: none;
  background-color: black;
  color: white;
  font-size: 2rem;
  text-align: center;
  width: 100%;
}


fieldset {
  border: 0;
  input {
    display: block;
    width: 90%;
    margin: 0.9rem 5%;
    padding-left: 0.5rem;
    border: none;
    background: 0 0;
    border-bottom: 1px solid #fff;
    font-size: 1rem;
    color: white;
  } 
  select{

  } 
}