.page{
  font-family: "Roboto",sans-serif;
  font-weight: 100;
  
}
.page-heading {
  text-align: center;
  padding: 2rem 1rem;
  h1 {
  font-size: 2rem;
  display: block;
  }
  h3 {
  font-size: 1rem;
  }
}
.button {
  background-color: #000;
  position: fixed;
  height: 120px;
  width: 100%;
  bottom: 0px;
  color: white;
  text-align: center;
  cursor: pointer;
  font-size: 2rem;
  padding-top: 2rem;
  font-weight: 100;
}
span {display: block;}